.tour-page {
  width: 100%;
  display: flex;
  padding: 0;
  position: relative;

  @media (max-width: 600px) {
    flex-direction: column;
    align-items: center;
  }

  &__back {
    margin: 20px;
    padding-top: 10px;
    display: flex;
    flex-shrink: 0;
    text-decoration: none;
    color: #333;
    font-size: 16px;

    transition:
      color 0.3s ease,
      text-decoration-color 0.3s ease;

    &:hover {
      color: hsl(242, 85%, 52%);
    }
  }

  &__card {
    margin: 20px;
    display: flex;
    flex-direction: column;
    flex-shrink: 1;
    width: 400px;
    background: #fff;
    border-radius: 20px;
    padding: 20px 24px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.05);

    @media (max-width: 600px) {
      margin: 5px 0;
    }
  }

  &__title {
    font-size: 28px;
    font-weight: 700;
    margin: 0 0 10px 0;
  }

  &__location {
    display: flex;
    gap: 16px;
    color: #666;
    margin-bottom: 10px;

    span {
      display: flex;
      align-items: center;
      gap: 4px;
    }
  }

  &__image {
    width: 100%;
    aspect-ratio: 2 / 1;
    object-fit: cover;
    border-radius: 12px;
  }

  &__section-title {
    font-size: 18px;
    font-weight: 600;
    margin: 14px 0 8px 0;
  }

  &__description {
    margin: 0;
    font-size: 12px;
    color: #555;
    line-height: 1.5;
  }

  &__services {
    display: flex;
    gap: 20px;
    padding: 0;
    list-style: none;

    li {
      display: flex;
      align-items: center;
      gap: 6px;
      font-size: 14px;
      color: #444;
    }
  }

  &__divider {
    margin: 0;
  }

  &__info-block {
    border-top: 1px solid #ddd;
  }

  &__date {
    display: flex;
    align-items: center;
    gap: 8px;
    color: #444;
    margin-bottom: 12px;
  }

  &__info-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 16px;
  }
  &__amount {
    margin: 0;
    font-size: 26px;
    font-weight: 700;
  }

  &__button {
    background: #d2d0d0;
    padding: 10px 20px;
    border-radius: 10px;
    border: 1px solid #ccc;
    cursor: pointer;
    font-weight: 600;
    transition: 0.2s;

    &:hover {
      background: #f5f5f5;
    }
  }
}
